<% @auctions.each do |auction| %>
<% auctionmodal = "#auctionModal" + auction.id.to_s %>
	<li class="span2">
		<a href="<%= auctionmodal %>" data-toggle="modal">
			<div class="thumbnail">
				<img src=<%=auction.image%> alt="" height="200" />
				<p><%=auction.title %></p>
				<p>$<%=auction.buy_now_price %></p>
			</div>
		</a>
	</li>
<% end %>	
