<div class="btn-group pull-left">
  <button class="btn dropdown-toggle" style="margin-top: 14px;" data-toggle="dropdown">
  	How it works
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
	<li><%= link_to "For retailers", pages_how_it_works_sellers_path, :tabindex => '-1' %></li>
	<li><%= link_to "For shoppers", pages_how_it_works_buyers_path, :tabindex => '-1' %></li>
  </ul>
</div>
<div class="btn-group pull-left">
  <%= link_to "About", pages_about_path, :class => "btn", :style => "margin-top: 14px;" %>
</div>