<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="http://www.bedbathandbeyond.com/assets/product_images/230/6362814614729P.JPG" /></div>
    <div class="item"><img src="http://s.shld.net/is/image/Sears/00838448000" /></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>