<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="http://www.beestreetlofts.com/arealifestyle_blaze/photos/14_CharlestonShopping.jpg" /></div>
    <div class="item"><img src="http://img1.10bestmedia.com/Images/Photos/135269/-MG-4007_32_438x290.jpg" /></div>
    <div class="item"><img src="http://bitcheswhobrunch.com/wp-content/uploads/2010/04/ctown-marketstsign.jpg" /></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>