<div class="hero-unit">
	<h1>About Demando</h1>
	<h3>Demando is like eBay for local shops' sale racks.</h3>
	<p>Local businesses make our community warm and unique. They offer interesting products 
		with a local touch, which is pretty nice in today's fast-paced world.</p>
	<p>Often, they put products on sale because they want to make room,
		or they ordered too much.</p>
	<p>It's important to move these products quickly. But most local shops count only on walk-in
		customers to liquidate the products.</p>
	<p>Demando is a way for you to their sale racks online! Not only do the retailers
		have a better chance at selling off the items, but you also speed up the bargain-hunting
		by scanning your entire city's sale rack virtually.</p>
	<p>You find deals and support our unique local shops; and shops make room on the show floor. It's a win-win!</p>
	<a href="mailto:rob.whelan@deman.do"><img src="http://m3.licdn.com/mpr/pub/image-ssFhUoaI9zOmzB-cYGn7syDdoVWAA_5saACw76GAo66AAhTGssFwDHBIoyHDATB4aEQO/rob-whelan.jpg"
		width=100 /></a><strong> Demando</strong> was founded by Rob Whelan in Charleston, SC.
	<%= render 'shared/search_for_auctions' %> 
</div> 