<div class="hero-unit">
	<h1>Charleston retailers:</h1>
	<h1>Take your sale rack online!</h1>
	<p>Have just a few units sitting around of a once-popular item? 
		Want to clear space for new stuff? Ordered too much of one thing?</p>
	<p>With Demando, you can sell your entire sale rack to the locals to liquidate
		faster. Shoppers pay online and come to your store for pickup, so you don't have
		to package or ship.</p>
	<h4>Setting up a new sale takes less than a minute.</h4>
	<%= link_to "Get started", new_user_registration_path, :class => "btn btn-primary btn-large" %> 
</div>