<div class="hero-unit">
	<h1>Skim all the local sale racks from your couch!</h1>
	<p>Love to find a great deal from great retailers around Charleston? Want to support local businesses?</p>
	<p>Check out what's on sale in Charleston on Demando. Once you buy something you like, go to the store to pick it up and make a new connection!</p>
	<%= render 'shared/search_for_auctions' %> 
</div>