<div class="hero-unit">
	<h1>Get a $20 Demando coupon!</h1>
	<p>We want lots of people to discover Demando, Charleston's online sale rack.</p>
	<p>For every five friends you get to sign up, you'll get a $20 coupon on Demando!</p>
	<p>All they have to do is mention your name during the sign up process. Can you get 25 Charlestonians to sign up? That's $100!</p>
	<p>You'll get a credit code which you can apply during checkout.</p>
	<p>Feel free to share on Facebook with the button below!</p>
	<%= render 'shared/search_for_auctions' %> 
</div>